*{
    margin: 0;  
    padding: 0;
    box-sizing: border-box;
  }

  .container{
    max-width: 1220px;
    width: 100%;
    margin: 0 auto;
  }

  .header{
    background: url(./img/header-bg.png) center / cover no-repeat ;
    height: 900px;
    width:100%;
  }

  .gwgwefq{
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding-top: 50px;
  }

  .eqfwqefq{
    display: flex;
    justify-content: space-between;
  }

  .wefwqefq{
    width: 30px;
    height: 47px;
  }

  .weweqa{
    color: rgb(255, 255, 255);
font-family: Anton;
font-size: 14px;
font-weight: 400;
line-height: 21px;
letter-spacing: 10%;
  }

  .gwgwsa{color: rgb(255, 255, 255);
font-family: Anton;
font-size: 17px;
font-weight: 400;
line-height: 26px;
letter-spacing: 10%;
}

.eqwfqefa{
    color: rgb(255, 255, 255);
font-family: Anton;
font-size: 30px;
font-weight: 400;
line-height: 45px;
letter-spacing: 10%;
margin-top: 100px;
}

.eqwfqefa1{
    color: rgb(255, 255, 255);
    font-family: Anton;
    font-size: 100px;
    font-weight: 400;
    line-height: 151px;
}

.eqwfqefa2{
    color: var(--white, #FFF);
    text-align: center;
    font-family: Roboto;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    display: inline-flex;
    padding: 10px 30px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: none;
    margin-top: 50px;
    text-transform: uppercase;
}

.hrtwer{
    color: rgb(0, 0, 0);
font-family: Anton;
font-size: 50px;
font-weight: 400;
line-height: 75px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}

.efqqwa{
    display: flex;
    justify-content: space-between;
}

.qfqefw{
    display: flex;
   flex-direction: column;
}

.wefgqe{
    color: rgb(0, 0, 0);
font-family: Anton;
font-size: 25px;
font-weight: 400;
line-height: 38px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
}

.gwewfqa{
    color: rgb(0, 0, 0);
font-family: Open Sans;
font-size: 16px;
font-weight: 400;
line-height: 22px;
letter-spacing: 0%;
text-align: justify;
width: 564px;
height: 175px;
}

.wefweqaz{
    display: flex;
    justify-content: space-between;
}

.wefwfa{
  color: rgb(0, 0, 0);
font-family: Anybody;
font-size: 70px;
font-weight: 300;
line-height: -1px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-top: 30px;
}

.gwasx{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.wgwef{
  color: rgb(0, 0, 0);
font-family: Anybody;
font-style: italic;
font-size: 24px;
font-weight: 400;
line-height: -1px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-top: 100px;
}

.header2{
background: url(./img/1666833941_5-mykaleidoscope-ru-p-berning-men-pinterest-5\ 1.png) center / cover no-repeat;
height: 900px;
}

.qfqwa{
  color: rgb(0, 0, 0);
  font-family: Open Sans;
  font-size: 34px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0%;
  text-align: justify;
  padding-top: 150px;
  text-transform: uppercase;
}

.wefeazxc{
  color: rgb(0, 0, 0);
font-family: Open Sans;
font-size: 24px;
font-weight: 700;
line-height: 33px;
letter-spacing: 0%;
text-align: justify;
margin-top: 100px;
width: 1151px;
}

.gwrfa{
  font-family: Anton;
  font-size: 25px;
  font-weight: 400;
  line-height: 38px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  width: 1166px;
  margin-top: 100px;
}

.rgwfa{
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.qdfqwd{
  color: rgb(0, 0, 0);
font-family: Anton;
font-size: 25px;
font-weight: 400;
line-height: 40px;
letter-spacing: 0%;
text-align: center;
text-transform: uppercase;
margin-top: 70px;
}

.dafvadf{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 50px;
} 

.sfescsa{
  margin-left: 510px;
  margin-top: 50px;
}

.qffqwz{
  margin-top: 50px;
  width: 100%;
  max-width: 1220px;
}

.header4{
  background-color: grey;
  height: 900px;
}

.wgwwga{
  display: flex;
  justify-content: space-between;
}

.wergwega{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.wegwaz{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-weight: 700;
  color: orange;
}

.qdqwz{
  font-size: 14px;
    line-height: 26px;
    color: white;
}